<div class="section">
    <div class="one">
        <div class="swiper-container banner">
            <ul class="swiper-wrapper">
                <li class="swiper-slide"><img src="Content/images/img_02.jpg" alt=""></li>
                <li class="swiper-slide"><img src="Content/images/img_02.jpg" alt=""></li>
                <li class="swiper-slide"><img src="Content/images/img_02.jpg" alt=""></li>
                <li class="swiper-slide"><img src="Content/images/img_02.jpg" alt=""></li>
                <li class="swiper-slide"><img src="Content/images/img_02.jpg" alt=""></li>
            </ul>
            <div class="swiper-pagination"></div>
        </div>
        <div class="list">
            <a><b style="background:#ff6666"><i class="iconfont">&#xe720;</i></b>车商城</a>
            <a><b style="background:#ff9d3e"><i class="iconfont">&#xe724;</i></b>分期购车</a>
            <a><b style="background:#ff6666"><i class="iconfont">&#xe6fc;</i></b>团购活动</a>
            <a><b style="background:#4183ff"><i class="iconfont">&#xe6f6;</i></b>找二手车</a>
        </div>
        <div class="log">
            <img src="Content/images/img_05.jpg" alt="">
        </div>
        <div class="ser"><b>车主服务</b></div>
        <div class="menu">
            <a><i class="iconfont" style="color:#f85858;">&#xe614;</i>油卡充值</a>
            <a><i class="iconfont" style="color:#4cbd96;">&#xe662;</i>油卡充值</a>
            <a><i class="iconfont" style="color:#7760ef;">&#xe6f6;</i>油卡充值</a>
            <a><i class="iconfont" style="color:#67c7a7;">&#xe640;</i>油卡充值</a>
            <a><i class="iconfont" style="color:#ff4e00;">&#xe644;</i>油卡充值</a>
            <a><i class="iconfont" style="color:#4183ff;">&#xe70f;</i>油卡充值</a>
            <a><i class="iconfont" style="color:#ff4e00;">&#xe714;</i>油卡充值</a>
            <a><i class="iconfont" style="color:#e94645;">&#xe680;</i>油卡充值</a>
            <a><i class="iconfont" style="color:#b0cbff;">&#xe682;</i>油卡充值</a>
            <a><i class="iconfont" style="color:#0aa570;">&#xe68b;</i>油卡充值</a>
            <a><i class="iconfont" style="color:#4183ff;">&#xe646;</i>油卡充值</a>
            <a><i class="iconfont" style="color:#5f5f5f;">&#xe613;</i>油卡充值</a>
        </div>
        <div class="time">
            <b>限时抢购</b>
            <b><em>13</em> : <em>13</em> : <em>13</em></b>
        </div>
        <div class="scroller">
            <div class="hot">
                <a>
                    <b><img src="Content/images/img_11.jpg" alt=""></b>
                    <b>补胎工具简易套装</b>
                    <b>￥9.9元 <em>28元</em></b>
                    <span>热销</span>
                </a>
                <a>
                    <b><img src="Content/images/img_14.jpg" alt=""></b>
                    <b>车用椅背挂钩</b>
                    <b>￥9.9元 <em>28元</em></b>
                    <span>爆款</span>
                </a>
                <a>
                    <b><img src="Content/images/img_09.jpg" alt=""></b>
                    <b>去痕迹增量</b>
                    <b>￥9.9元 <em>28元</em></b>
                    <span>热销</span>
                </a>
            </div>
        </div>
        <div class="active">
            <b>活动专区</b>
            <b>更多活动<em>></em></b>
        </div>
        <div class="more">
            <a><b>测身价炫富</b><b>身价大PK</b><b><img src="Content/images/img_25.jpg" alt=""></b></a>
            <a><b>全场0利率</b><b>购车无压力</b><b><img src="Content/images/img_20.jpg" alt=""></b></a>
            <a><b>好车分期</b><b>定制专属方案</b><b><img src="Content/images/img_22.jpg" alt=""></b></a>
        </div>
        <div class="active">
            <b>猜你喜欢</b>
            <b>更多<em>></em></b>
        </div>
        <div class="new">
            <div class="pos" ng-repeat="user in userInfo">
                <a>
                    <b><img ng-src="{{user.url}}" alt=""></b>
                    <b>{{user.cu}}</b>
                    <b>{{user.xi}}</b>
                    <b><em>{{user.new}}</em><em>{{user.old}}</em></b>
                </a>
            </div>
        </div>
        <div class="active">
            <b>猜你喜欢</b>
            <b>更多<em>></em></b>
        </div>
        <div class="new">
            <div class="pos" ng-repeat="user in userInfo">
                <a>
                    <b><img ng-src="{{user.url}}" alt=""></b>
                    <b>{{user.cu}}</b>
                    <b>{{user.xi}}</b>
                    <b><em>{{user.new}}</em><em>{{user.old}}</em></b>
                </a>
            </div>
        </div>
    </div>
    <div class="two">
        金融 金融 金融 金融 金融 金融 金融 金融
    </div>
</div>